nav ul{
	position : fixed;
	top : 10px;
	left : 10px;
}

nav ul li{
	display : inline-block;
	width : 80px;
	height : 25px;
	text-align : center;
	background-color : #dfdfdf;
	padding : 5px;
}

.long-content{
	height : 800px;
	background-color : skyblue;
}