header{
	height : 50px;
	background-color : #ffdddd;
	
}
#wrapper {
	height : 100px;
	display : flex;
	justify-content : space-between;

}

#main{
	width : 24%;
	background-color : #bddddf;
}

aside{
	width : 22%;
	background-color : #ffddff;
}

footer{
	height : 50px;
	background-color: #ddddff;
}